<link href="https://fonts.googleapis.com/css?family=Open+Sans|Oswald|Raleway|Romanesco|Source+Sans+Pro" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Clicker+Script|Engagement|Roboto+Slab:700|Romanesco|Tinos:700i" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Pacifico|Quicksand|Reem+Kufi|Satisfy|Spinnaker" rel="stylesheet">
* {
    color: #000;
    overflow: hidden;
}
.nav {
    width: 82em;
    height:50em;
    margin: -1em;
}
body {
    background-image: url(../../images/pink%20flower.jpg);
    background-size: cover;
}